body {
    font-family: sans-serif;
    background: #f9f9f9;
    padding: 20px;
  }
  
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
  
input, select, button {
    margin: 5px;
    padding: 10px;
    margin-left: 10px;
}
  
.contenedor {
    margin-top: 30px;
}
  
.movimiento {
    background: #fff;
    padding: 10px;
    margin: 5px;
    margin-right: 20px;
    border-left: 5px solid;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
  
.movimiento.ingreso {
    border-color: green;
}
  
.movimiento.egreso {
    border-color: red;
    margin-right: 20px;
}
  
.resumen {
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
}
  
.borrar-todo {
    background-color: #e63946;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
  
.borrar-todo:hover {
    background-color: #d62828;
}

.grafico-contenedor {
    max-width: 400px;
    margin: 20px auto;
}
  
.grafico-contenedor canvas {
    width: 100%;
    height: auto;
}
  
.contenido {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}
